<!DOCTYPE html>
<html ng-app="AdminWFMG">
<meta charset="utf-8" />
<head>
<title>Admin</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
<script data-require="angular.js@1.3.9" data-semver="1.3.9"
	src="https://code.angularjs.org/1.3.9/angular.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body
	style="margin-top: -50px; background-position: center; background-image: url("");">
	<%- include CommonHeader.ejs %> 
<div id="divlink"  
	style="width: 1200px; height: 20px; float: left; background-color: olive;">
	<a style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-home" href="#">Home</a> <a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-warning-sign" href="#">View-Alerts</a> <a
		style="padding-left: 10px; color: White;"  ng-click="ViewBuildingReports()"
		class="glyphicon glyphicon-file" href="#">View-Building-Reports</a> <a
		style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-file" href="#">View-Consolidated-Report</a>
	<a style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-file" href="#">Search-Report</a>
		<a style="padding-left: 10px; color: White;"
		class="glyphicon glyphicon-file" href="/RequestBuilding">Request_Building </a>
</div>
<div class="first-column1">
	<div id="Body" style="float: left; width: 1200px; height: 600px;">
		<div class="thumbnail"
			style="text-align: center; width: 150px; float: left; height: 200px;">
			<img src="" height="80%" width="100%" alt="img">
			<button style="background-color: transparent;">
				<span style="font-size: large;"
					class="glyphicon-large glyphicon glyphicon-camera"></span> Change
				Photo
			</button>
		</div>
		</div>
		</div>
		<div class="second-column1">
		
		<br>
		
		
		<div ng-controller="buildingrequest">
		<div class="col-sm-9">
		<form class="form-inline">
			<strong>Client_ID</strong>
		<input type="text" class="form-control" ng-model="client_ID" placeholder="Client_ID"  required>
			
		<strong>Building Name</strong>
		<input type="text" class="form-control" ng-model="buildingname" placeholder="Building Name" required ><br><br>
		</form>
	
	   <form class="form-inline">
		<strong>Point_1</strong>
		&nbsp
		<input type="text" class="form-control" ng-model="coordinates01" placeholder="Point 1" required>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		
		
			<strong>Point_2</strong>
		
		<input type="text" class="form-control" ng-model="coordinates11" placeholder="Point 2" required><br><br>
		
	</form>
		
		 <form class="form-inline">
			<strong>Point_3</strong> &nbsp
		
		<input type="text" class="form-control" ng-model="coordinates21" placeholder="Point 3" required>
		
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		
			<strong>Point_4</strong>
		
		<input type="text" class="form-control" ng-model="coordinates31" placeholder="Point 4" required><br><br>
		</form>
		
			<strong>Additional Description, if any</strong>
		<input type="text" class="form-control" ng-model="description"><br>
		
			<input type="submit" class="btn btn-primary" value="submit"   ng-click="submit()">
			</div>
		
		</div>
		</div>
		</form>
		</body>
		
<script>
var app = angular.module('AdminWFMG', []);
app.controller('buildingrequest', function($scope,$http,$window) {  


$scope.submit=function()
{
if($scope.client_ID==null || $scope.buildingname==null || $scope.coordinates01==null || $scope.coordinates11==null|| $scope.coordinates21==null|| $scope.coordinates31==null)
alert("Please enter client id, building name and the coordinates of the building");
else
{
var id=$scope.client_ID;
var bname=$scope.buildingname;
var coordinates01=$scope.coordinates01;
var coordinates11=$scope.coordinates11;
var coordinates21=$scope.coordinates21;
var coordinates31=$scope.coordinates31;
var description=$scope.description;


 $http({
  method:'POST',
  url: '/requestbuildingform',
  data: {"id":[id], "bname" : [bname], "coordinates01" : [coordinates01], "coordinates11" : [coordinates11], "coordinates21" : [coordinates21], "coordinates31" : [coordinates31], "description" : [description]}

    }).success(function(response)
    {
      alert("successfully submitted");
    })


}
}

});
		
		</script>
</html>